* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4A154B;;
  color: white;
  text-align: center;
  padding: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 50px auto;
}

.card {
  background: lightblue;
  padding: 30px 50px;
  color: rgba(0,0,0,0.7);
  margin-bottom: 30px;
  margin-right: 25px;
  font-weight: bold;
  width: 330px;
}

div.cards-container a:hover {
  text-decoration: none;
}

div.cards-container + .card {  
   margin-right: 15px;  
}

.jumbotron a {
  background: green;
  display: inline-block;
  padding: 12px 16px;
  margin-top: 30px;
  color: white;
}

.jumbotron a:hover {
  text-decoration: none;
}

.car-card {
  margin-top: 25px;
  text-align: left;
}

.car-card a button {
   padding: 5px 12px;
   background: green;
   color: white;
}

.show-car {
  display: flex;
  background: teal;
  height: 680px;;
  color: white;
  padding: 30px 50px;
  margin-top: 40px;
}

.basic-feature {
  margin-right: 30px;
}

.purchased-features {
   margin-top: 100px;
   padding: 30px 50px;
   font-size: 22px;
   border-left: 1px solid goldenrod;
   position: relative;
}

.container-flex {
  display: flex;
  justify-content: space-around;
}

.additional-feature {
  padding: 30px 50px;
  background:#6EC4CB;
  margin-top: 40px;
  margin-left: 160px;
}

div.feature {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

div.feature button {
  background: #EBB424;
  padding: 3px 7px;
  margin-right: 12px;
  color: black;
}

div.added-feature button {
  background: red;
}

.basic-details {
  padding: 60px 0px;
  font-size: 20px;
}

.total-price {
  background: gold;
  padding: 7px 10px;
  text-align: center;
  color: rgba(0,0,0,0.6);
}

/**** Contact Form Styles ****/

input[type=text], input[type=email] , textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}  


div.submit {
  text-align: center;
}


.contact-us {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}

.checkout {
  box-shadow: 2px 2px 2px gray;
  line-height: 38px;
  padding: 0px 40px;
}

nav.navbar {
  margin-bottom: 0px;
}

/* checkout instructions */
.instructions {
  margin-top: -10px;
  font-size: 12px;
  font-weight: bold;
  color: gold;

}

.proceed-to-cart {
   position: absolute;
   bottom: 50px;
   left: 20%;
}

.add-to-cart {
  padding: 7px 30px;
  background: skyblue;
  color: black;
  cursor: pointer;
}

.cart-items {
  height: 20px;
  width: 20px;
  background: orange;
  border-radius: 100%;
  color: black;
  font-size: 12px;
  padding: 6px;
  margin-left: -8px;
}